on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

name: Flatpak
jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    steps:
    - uses: actions/checkout@v6
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: curtail.flatpak
        manifest-path: com.github.huluti.Curtail.json
        cache-key: flatpak-builder-${{ github.sha }}
